*{
    padding: 0;
    margin: 0;
}

#hardness{
    outline: none;
    border: none;
    width: 90px;
}

nav .first, nav .second{
    border-radius: 5px;
}

nav div input{
    background: transparent;
    outline: none;
    border: none;
    color: white;
    width: 120px;
}

nav div i{
    margin-left: 5px;
}

nav div input::placeholder{
    color: white;
    text-align: center;
}

nav .result{
    width: 250px;
    border-radius: 10px;
}